<v-container>
  <v-layout class="my-5">
    <v-flex xs12 sm10 md6 offset-sm1 offset-md3>
      <v-card raised>
        <v-card-title>
          <span class="headline">Sign Up</span>

        </v-card-title>
        <v-alert v-model="alertMessage.bool" :color="alertMessage.type" transition="scale-transition" dismissible>
          <div v-for="message in alertMessage.messages" :key="message">{{ message }}</div>
        </v-alert>
        <v-card-text>
          <v-form>
            <v-flex>
              <v-text-field
                v-model="signUpUser.name"
                label="Name"
                required
                :error-messages="nameErrors"
                @input="$v.signUpUser.name.$touch()"
                @blur="$v.signUpUser.name.$touch()"
              ></v-text-field>
            </v-flex>
            <v-flex>
              <v-text-field
                v-model="signUpUser.username"
                label="Username"
                required
                :error-messages="usernameErrors"
                @input="$v.signUpUser.username.$touch()"
                @blur="$v.signUpUser.username.$touch()"
              ></v-text-field>
            </v-flex>
            <v-flex>
              <v-text-field
                v-model="signUpUser.email"
                type="email"
                label="Email"
                required
                :error-messages="emailErrors"
                @input="$v.signUpUser.email.$touch()"
                @blur="$v.signUpUser.email.$touch()"
              ></v-text-field>
            </v-flex>
            <v-flex>
              <v-text-field
                v-model="signUpUser.password"
                type="password"
                label="Password"
                required
                :counter="8"
                :error-messages="passwordErrors"
                @input="$v.signUpUser.password.$touch()"
                @blur="$v.signUpUser.password.$touch()"
              ></v-text-field>
            </v-flex>
            <v-flex>
              <v-text-field
                v-model="signUpUser.password_confirmation"
                type="password"
                label="Confirm Password"
                required
                :error-messages="password_confirmationErrors"
                @input="$v.signUpUser.password_confirmation.$touch()"
                @blur="$v.signUpUser.password_confirmation.$touch()"
              ></v-text-field>
            </v-flex>
          </v-form>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="primary">Cancel</v-btn>
          <v-btn color="secondary" :loading="loader.creating" @click.native="signUp">Submit</v-btn>
        </v-card-actions>
      </v-card>
    </v-flex>
  </v-layout>
</v-container>
<!--<v-container>-->
  <!--<form>-->
    <!--<v-text-field-->
      <!--v-model="data.name"-->
      <!--:error-messages="nameErrors"-->
      <!--:counter="10"-->
      <!--label="Name"-->
      <!--required-->
      <!--@input="$v.data.name.$touch()"-->
      <!--@blur="$v.data.name.$touch()"-->
    <!--&gt;</v-text-field>-->
    <!--<v-text-field-->
      <!--v-model="data.email"-->
      <!--:error-messages="emailErrors"-->
      <!--label="E-mail"-->
      <!--required-->
      <!--@input="$v.data.email.$touch()"-->
      <!--@blur="$v.data.email.$touch()"-->
    <!--&gt;</v-text-field>-->
    <!--<v-select-->
      <!--v-model="data.select"-->
      <!--:items="data.items"-->
      <!--:error-messages="selectErrors"-->
      <!--label="Item"-->
      <!--required-->
      <!--@change="$v.data.select.$touch()"-->
      <!--@blur="$v.data.select.$touch()"-->
    <!--&gt;</v-select>-->
    <!--<v-checkbox-->
      <!--v-model="data.checkbox"-->
      <!--:error-messages="checkboxErrors"-->
      <!--label="Do you agree?"-->
      <!--required-->
      <!--@change="$v.data.checkbox.$touch()"-->
      <!--@blur="$v.data.checkbox.$touch()"-->
    <!--&gt;</v-checkbox>-->

    <!--<v-btn @click="submit">submit</v-btn>-->
    <!--<v-btn @click="clear">clear</v-btn>-->
  <!--</form>-->
<!--</v-container>-->

