<v-container>
  <v-layout class="my-5">
    <v-flex xs12 sm10 md6 offset-sm1 offset-md3>
      <v-card raised>
        <v-card-title>
          <span class="headline">Sign In</span>
        </v-card-title>
        <v-alert v-model="alertMessage.bool" :color="alertMessage.type" transition="scale-transition" dismissible>
          <div v-for="message in alertMessage.messages" :key="message">{{ message }}</div>
        </v-alert>
        <v-card-text>
          <v-form>
            <v-flex>
              <v-text-field
                required
                v-model="signInUser.email"
                type="email"
                :error-messages="emailErrors"
                @blur="$v.signInUser.email.$touch()"
                @input="$v.signInUser.email.$touch()"
                label="Email"></v-text-field>
            </v-flex>
            <v-flex>
              <v-text-field
                required
                v-model="signInUser.password"
                :error-messages="passwordErrors"
                @blur="$v.signInUser.password.$touch()"
                type="password"
                label="Password"></v-text-field>
            </v-flex>
          </v-form>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="primary">Cancel</v-btn>
          <v-btn color="secondary" :loading="loader.creating" @click="signIn" :disabled="$v.signInUser.$invalid">Submit</v-btn>
        </v-card-actions>
      </v-card>
    </v-flex>
  </v-layout>
</v-container>
