<v-container>
  <v-layout>
    <v-flex xs12 sm4>
      <v-card>
        <v-card-media>
          <img :src="user.profile_pic" height="380">
        </v-card-media>
        <!--<v-card-title primary-title>-->
          <!--<div>-->
            <!--<h3 class="headline mb-0">Kangaroo Valley Safari</h3>-->
            <!--<div>Located two hours south of Sydney in the <br>Southern Highlands of New South Wales, ...</div>-->
          <!--{{user.name}}-->
          <!--</div>-->
        <!--</v-card-title>-->
      </v-card>
    </v-flex>
    <v-flex xs12 sm8 class="pl-3">
      <v-card>
        <v-tabs slider-color="secondary" fixed-tabs>
          <v-tab ripple>Profile</v-tab>
          <v-tab ripple>Edit</v-tab>
          <v-tab-item>
            <v-card>
              Profile
            </v-card>
          </v-tab-item>
          <v-tab-item>
            <v-card>
              Edit form
            </v-card>
          </v-tab-item>
        </v-tabs>
      </v-card>
    </v-flex>
  </v-layout>
</v-container>
