<v-container>
  <v-layout row wrap>
    <v-flex xs12 sm12 md4>
      <v-card>
        <v-card-media class="cursor">
          <img :src="user_image" height="380" class="pa-2" @click="triggerFileInput()">
        </v-card-media>
        <input type="file" ref="user_image" style="display: none" accept="image/*" @change="changeImage">
      </v-card>
    </v-flex>
    <v-flex xs12 sm12 md8 class="">
      <v-card height="100%">
        <v-tabs slider-color="secondary" fixed-tabs>
          <v-tab ripple>Profile</v-tab>
          <v-tab ripple>Edit</v-tab>
          <v-tab-item>
            <v-card>
              <v-card-title primary-title>
                <div>
                  <h3 class="headline mb-0">Profile</h3>
                  <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet deserunt incidunt laborum perspiciatis rerum suscipit temporibus unde? Accusantium amet animi at cumque eligendi explicabo in incidunt quia, ullam unde, voluptate?</div>
                </div>
              </v-card-title>
            </v-card>
          </v-tab-item>
          <v-tab-item>
            <v-card>
              <v-card-title primary-title>
                <div>
                  <h3 class="headline mb-0">Edit form</h3>
                  <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet deserunt incidunt laborum perspiciatis rerum suscipit temporibus unde? Accusantium amet animi at cumque eligendi explicabo in incidunt quia, ullam unde, voluptate?</div>
                </div>
              </v-card-title>
            </v-card>
          </v-tab-item>
        </v-tabs>
      </v-card>
    </v-flex>
  </v-layout>
  <v-layout>
    <v-spacer></v-spacer>
    <v-btn color="secondary" @click.stop="uploadImage()" :loading="loader.uploading">Submit</v-btn>
  </v-layout>
</v-container>
